


<main class="container">
    <header class="row">
        <header class="col-12">
            <h1 class="headingformats">Museum Locations</h1>
        </header>

    </header>
    <article class="row">
        <article class="col-12">
            <article id="map"></div>
        </article>
    </article>
            
    <script src="scripts/googlemapApi.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiRFL7NTJFlRBr3YzrL_xH1Et3CYmHB_Q&callback=myMap"></script>

</main>




