<header>
    <h1 id="museumName">The Harvard Art Museum</h1>
</header>

<div class="input-group">

    <input id="searchBar" type="text" class="form-control" placeholder="Search" class="input-group-append">
    &nbsp;

    <button id="searchBtn" class="btn btn-primary" type="button">
        <i class="far fa-search">Search</i>
    </button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <label for="artistList" style="color: white; font-family: 'Cinzel', serif;">
        Search History:</label>
    &nbsp;
    <select id="artistList" class="custom-select" style="width:200px; ;">
    </select>

    <button id="searchAgainBtn" class="btn btn-primary" type="button" onclick="searchAgain()">
        <i class="far fa-search">Select</i>
    </button>

</div>

<div class="center-div">
    <div class="gallery"></div>
</div>

<script src="./assets/harvardApi.js"></script>
<script src="./assets/searchArtists.js"></script>