<main class="container">
    <header class="row">
        <header class="col-12">
            <h1 class="headingformats">The Electric Art Gallery</h1>
        </header>

    </header>
    <article class="row">
        <article class="col-12">
            <article id="gallery"></article>
        </article>
    </article>
</main>