<main class="container">
    <header class="row">
        <header class="col-12">
            <h1 class="headingformats">The Electric Art Gallery</h1>
        </header>

    </header>
    <article class="row m-3">
        <article class="col-12 d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wfdHfJc2awg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
    </article>
    <article class="row m-3 d-flex justify-content-center">
        <article class="col-12 ">

            <div class="row">
                <p class="headingformats">
                    In this application, users can virtually travel to galleries across the world they may not be able to visit otherwise.
                    This can give opportunity to see work and/or inspire art lovers to travel to different galleries in the future and
                    explore different cultures.
                </p>
            </div>
            <div class="row">
                <p class="headingformats">
                    Due to the recent virus pandemic we are unable to travel or gather in public spaces making galleries
                    and museums visits obsolete for the time being. With this application we can continue our pursuit of
                    knowledge and love of art! 
                </p>
            </div>
        </article>
    </article>
</main>