body {
    background-color: black;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: white;
}

.headingformats, label {
    text-align: center;
    color: white;
}



#map {
    height: 800px;
    width: 100%;

}

